body {
	font-family: 'Bubbler One', sans-serif;
}

.hidden {
	opacity: 0;
	height: 0px;
}

#config-bar {
	padding: 1%;
	position: fixed;
	left: 0;
	top: 90%;
	z-index: 1;
	background: #E8E8E8;
	width: 100%;
	height: 100%;
}

#notes, #content {
	position: absolute;
	left: 0;
	text-align: center;
	background-color: #F5F5F5;
	width: 100%;
}
#notes {
	top: 20%;
	height: 25%;
}
#content {
	top: 45%;
	height: 65%;
}
#keyboard_help {
	position:absolute;
	list-style: none;
	top: 25%;
	left: 20%;
	width: 440px;
	height: 140px;
	background: url("http://mohayonao.github.io/timbre.js/misc/img/keymap.png");
}

#gen-piano {
	position: absolute;
	top: 0;
	left: 0;
}
#piano {
	position: absolute;
	top: 70%;
	left: 0;
}
#gen-piano td, #piano td {
	background-color: #B8B8B8;
	text-align: center;
	width: 120px;
	box-shadow: 1px 1px 1px #484848;
}
